div.grommetux-notification {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  z-index: 1;

  .grommetux-notification__message {
    text-transform: capitalize;
  }

  .grommetux-notification__status {
    display: none;
  }
}
